body{
  background-color: #fff8e4ff;
  font-family:serif;
}

.Nav{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #521136a8;
  
}
.link {
  color: #fff8e4ff;
}
.link:hover {
   color: #9e0e32a8
}


.Home{
  display: grid;
  text-align: center;
 
  
}
.Home img{
  width: 170px;
  height: 170px;
}
.Home h1{
  color: #9e0e32a8;
}
